<!DOCTYPE html>
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="templates/css/min.css">
    <link rel="stylesheet" href="templates/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="bootstrap_dropdowns_enhancement/dist/js/dropdowns-enhancement.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <script src="templates/js/script.js"></script>
    <script src="templates/js/bootstrap-select.js"></script>
    <script src="templates/js/bootstrap.js" type="text/javascript"></script>
    <script src="templates/js/bootstrap.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.onload = function() {
            $('.selectpicker').selectpicker({
                style: 'btn-info',
                size: 4
            });
        };
    </script>
    <link rel="stylesheet" href="dropdown-enhancement.js">
    <link rel="stylesheet" href="dropdown-enhancement.css">
</head>

<body>

<div class="header">
    <nav class="navbar navbar-inverse">
        <ul class="nav navbar-nav navbar-left">
            <h3 id="logo" style="color: white;">Basket</h3>
        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li>
                <div class="btn-group btn-group-lg" role="group" aria-label="..."><a href="index.php" class="btn btn-
            default">Main Page</a></div>
            </li>

            <li><a href="#">Sign In</a></li>
            <li><a href="#">Sign Out</a></li>
            <li><a href="#">Registration</a></li>
        </ul>
    </nav>
</div>
<div class="content">

    <div class="container">
        <table id="cart" class="table table-hover table-condensed">
            <thead>
            <tr>
                <th style="width:50%">Product</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
            </tr>
            </thead>
            <tbody>
            <%CONTENT%>
            </tbody>
            <tfoot>
            <tr class="visible-xs">
                <td class="text-center"><strong>Total 1.99</strong></td>
            </tr>
            <tr>
                <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
                <td colspan="2" class="hidden-xs"></td>
                <td class="hidden-xs text-center"><strong>Total $<%TOTAL%></strong></td>
                <td><a href="#" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
            </tfoot>
        </table>
    </div>

</div>
</div>


<div id="footer">
    <div class="container">
        <p class="text-muted credit">This site was developed by <a href="http://martinbean.co.uk">Viktor Viktor Viktor
        </a> and <a href="http://ryanfait.com/sticky-footer/">One more Viktor. All rights reserved</a>. All rights reserved.</p>
    </div>
</div>
</body>
</html>