<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <img src="" alt="...">
        <div class="caption">
            <h3><%BOOKNAME%></h3>
            <p><%BOOKDESCRIPTION%></p>
            <p><%BOOKPRICE%></p>

            <p><a href="index.php?action=shoppingcart&sub=add&id=<%BOOKID%>" class="btn btn-primary"
                  role="button">Buy</a>
                <a href="index.php?action=description&id=<%BOOKID%>" class="btn btn-default" role="button">More...</a>
            </p>
        </div>
    </div>
</div>